<h1 class='text-center mt-3'>Holiday</h1>
<h3 class="text-center text-white mt-2" style="background-color:blue">Edit Completed</h3>
<div class='row'>
  <div class='col text-center'>
    <h2><span>Title: </span><%= @holiday.title %></h2>
    <%= image_tag(@holiday.pictureUrl.service_url, class:"img-thumbnail") %>
    <h2><span>Price: </span><%= @holiday.price %></h2>
    <p><span style="font-weight:bold">Description: </span><%= @holiday.description %></p>
  </div>
</div>
