<h1 class='text-center mt-3'>Buy your dream Holiday</h1>
<!-- https://source.unsplash.com/featured/?{KEYWORD},{KEYWORD}-->
<div class="mt-2"style="width:100%;">
  <!-- <img style="width:100%; height:70vh;" src="/assets/Cover.jpeg" alt='holiday'/> -->
  <%= image_tag("Cover.jpeg", style:"width:100%; height:70vh;") %>
</div>
