<h1>Holidays#index</h1>
<h1>Index/landing Page for Holidays</h1>
<% @holidays.each do |holiday| %>
  <div>
    <h2><%= holiday.title %></h2>
    <p><%= holiday.description %></p>
    <h2><%= holiday.price %></h2>
    <%= image_tag(holiday.pictureUrl.service_url) %>
  </div>
<% end %>
