<h1>Holidays#show</h1>
<p>Find me in app/views/holidays/show.html.erb</p>
<h1><%= @holiday.title %></h1>
<h1><%= @holiday.description %></h1>
<h1><%= @holiday.price %></h1>
<%= image_tag(@holiday.pictureUrl.service_url) %>
